body {
  font-family: sans-serif;
  background-color: white;
  color: #646464;
 /* display: grid; */
  display:flex;
  flex-direction: row;
  align-items:stretch;
  align-content:flex-start;
  justify-content: flex-start;
  flex:1 1 350px;
  
    }

@media screen and (max-width:700px) {
  body {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
   
  }
  .profile {
    min-width: 350px;
    background-color:blue;
  }
} 

hr {
  height: 1.25px;
  background-color: white;
}


.pic{
  display:flex;
  align-items:center;
  justify-content:center;
  padding-bottom:20px;
}

.e {
  text-align:center;
  text-decoration-line: underline;
  font-size: 2em;
  display:flex;
  flex:column;
  flex-basis:100%;
  color: #646464;
 /* background-color:#92d56b;
  padding: 0.75em;
  margin:0.5em; */
  align-content: center;
  justify-content:center;
  padding-bottom:0px;
  
}

#name {
  display:flex;
  padding-bottom:0px;

}

#prof {
  display:flex;
  font-size:1.5em;
  color:#92d56b;
  text-align:center;
  text-decoration-line: underline;
  text-decoration-color: #646464;
  align-content: center;
  justify-content:center;
  padding-bottom:20px;
  padding-top:0px;
  
}

.profile {
  background-color: #92d56b;
  color:white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  align-content: space-between;
  justify-content: space-between;
  min-width: 350px
}

.hobbies {
  padding-bottom: 20px;
}
.edexp {
  display:flex;
  flex-direction: column;
  align-items: stretch;
  justify-items:space-between;
  flex-basis:60%;
  padding: 20px;
  min-width:350px;
  
 
}
/* main {
  grid-template-areas:    
    "a a b b"
    "a a b b"
    "a a c c"
    "a a d d";
} */

#edline { border-color: #92d56b;
  height: 1.25px;
    background-color: #92d56b;
     }  

#proline { border-color: white;
  height: 1.25px;
  background-color:white;
}

.AMA {
  Display:grid;
  grid-template-columns:1fr 2fr;
  padding: 10px;
  grid-gap:15px;
}

.TSNZ {
  /*display:flex;
  flex-direction:row;
  align-items:flex-start;
  margin:15px;
  padding:10px;
  flex-basis:33%;*/
  Display:grid;
  grid-template-columns:1fr 2fr;
  grid-gap: 15px;
  padding: 10px;
}
/*.tsj {
    display:flex;
  flex-basis: 66%;
}*/
.AVLC {
  Display:grid;
  grid-template-columns:1fr 2fr;
  padding: 10px;
  grid-gap:15px;
}

.AVLS {
  Display:grid;
  grid-template-columns:1fr 2fr;
  grid-gap: 15px;
  padding: 10px;
}

.BATL {
  Display:grid;
   grid-template-columns:1fr 2fr;
  padding: 10px;
  grid-gap:15px;
}

.BAET {
  Display:grid;
   grid-template-columns:1fr 2fr;
  padding: 10px;
  grid-gap:15px;
}
