body{

}

.pro1 {
    background-color: blue;
    transition: transform 450ms;
    &:hover {
        transform: scale(1.13);
    }
}

.pro2 {
    background-color: blue;
    transition: transform 450ms;
    &:hover {
        transform: scale(1.13);
    }
}

.pro3 {
    background-color: blue;
    transition: transform 450ms;
    &:hover {
        transform: scale(1.13);
    }
}